.header {
    margin-bottom: 40px;
}

.header__logo {
    display: inline-block;
    text-decoration: none;
    color: #000;
    font-size: 45px;
    font-weight: bold;
}
.header__page {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__list {
    display: flex;
    align-items: center;
}

.menu__item + .menu__item {
    margin-left: 30px;
}

.menu__link {
    display: inline-block;
    color: grey;
    text-decoration: none;

    &:hover {
        color: goldenrod;
    }
}


